SkyShoot/SkyShoot.Game/Service References/MainService/MainSkyShootService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SkyShoot.Contracts.Session" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SkyShoot.Contracts.Session" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:777/MainSkyShootService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGameDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDescription" nillable="true" type="tns:GameDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDescription" nillable="true" type="tns:ArrayOfGameDescription" />
  <xs:complexType name="GameDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameID" type="xs:int" />
      <xs:element minOccurs="0" name="GameType" type="tns:GameMode" />
      <xs:element minOccurs="0" name="MaximumPlayersAllowed" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDescription" nillable="true" type="tns:GameDescription" />
  <xs:simpleType name="GameMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Coop" />
      <xs:enumeration value="Deathmatch" />
      <xs:enumeration value="Campaign" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMode" nillable="true" type="tns:GameMode" />
</xs:schema>